<ion-content>

    <ion-toolbar>
        <ion-buttons>
            <ion-button>
                <ion-back-button mode="md" icon="chevron-back-sharp" defaultHref="signin"></ion-back-button>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <div class="ion-padding">
        <h1 class="title ion-text-center">{{'forgot.forgot' | translate}}</h1>
        <p class="content ion-text-center">{{'forgot.enterEma' | translate}} <br> {{'forgot.forgo' | translate}}<br> {{'forgot.vieEmail' | translate}}</p>
        <form [formGroup]="forgotForm">
            <ion-input formControlName="email" placeholder="{{'forgot.forgotPlace' | translate}}" name="email" type="text"></ion-input>
            <p class="err-msg" *ngIf="forgotForm.controls.email.hasError('required') && forgotForm.controls.email.touched">
                {{'forgot.emailErr' | translate}}
            </p>
            <p class="err-msg" *ngIf="forgotForm.controls.email.hasError('email') && forgotForm.controls.email.touched">
                {{'forgot.emailInvali' | translate}}
            </p>

            <ion-button [disabled]="!forgotForm.valid" (click)="onForgotPassword()" class="btn-forgot" mode="md" expand="full" fill="solid">
                {{'forgot.reset' | translate}}
            </ion-button>
        </form>
    </div>

</ion-content>