@font-face {
    font-family: "font_bold";
    src: url("../assets/fonts/TofinoProPersonal-Bold.otf");
}

@font-face {
    font-family: "font_medium";
    src: url("../assets/fonts/TofinoProPersonal-Medium.otf");
}

@font-face {
    font-family: "font_regular";
    src: url("../assets/fonts/TofinoProPersonal-Regular.otf");
}

@font-face {
    font-family: "font_book";
    src: url("../assets/fonts/TofinoProPersonal-Book.otf");
}