ion-header {
    ion-toolbar {
        border-bottom: 1px solid var(--ion-border-color);

        ion-back-button {
            --color: var(--ion-color-primary);
        }

        ion-title {
            font-size: 16px;
            font-family: "mon-medium";
            --color: var(--ion-color-primary);
        }

        ion-button {
            --padding-start: 5px;
            --padding-end: 5px;
            --color: transparent;
            --ripple-color: transparent;
        }
    }
}

ion-content {
    .err {
        font-family: "mon-medium";
        color: red;
        font-size: 11px;
        margin-left: -1px;
    }

    .col_padding {
        padding-right: 10px;
    }

    .label {
        font-size: 15px;
        font-family: "mon-bold";
    }

    .profile-image {
        height: 90px;
        width: 90px;
        border-radius: 50%;
        margin: 16px auto;
        border: 1px solid var(--ion-border-color);
        position: relative;

        .pluse-icon {
            height: 26px;
            width: 26px;
            border-radius: 50%;
            text-align: center;
            padding-top: 1px;
            position: absolute;
            top: 0px;
            right: 0px;
            background: var(--ion-color-orange);

            ion-icon {
                font-size: 23px;
                color: var(--ion-color-white);
            }
        }

        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
    }

    .info-title {
        font-family: "mon-medium";
        color: var(--ion-color-primary);
        margin-top: 40px;
    }

    ion-item {
        margin-bottom: 10px;
        --padding-start: 0px;
        --highlight-color-focused: #6492b9;
        --ripple-color: transparent;

        ion-input,
        ion-select,
        ion-textarea,
        ion-datetime {
            font-family: "mon-regular";
            --color: var(--ion-color-primary);
            --padding-top: 12px;
            --padding-bottom: 12px;
        }
    }

    ion-textarea {
        font-size: 13px;
    }

    .btn-save {
        height: 45px;
        font-family: "mon-medium";
        margin: 25px 0px;
        --box-shadow: none;
        --background: var(--ion-color-orange);
    }

    ion-radio {
        margin-left: 10px;
    }
}
