ion-header {
    ion-toolbar {
        border-bottom: 1px solid var(--ion-border-color);
        ion-back-button {
            --color: var(--ion-color-primary);
        }
        ion-title {
            font-size: 16px;
            font-family: "font_medium";
            --color: var(--ion-color-primary);
        }
    }
}

.animated {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}